*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

body{
    padding: 3rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    padding-bottom: 4vh;
    border-bottom: 0.15rem solid red;
}

header img{
    height: 5vh;
}

header input{
    height: 5vh;
    flex-grow: 1; /*ocupar todo o espaço livre sem empurrar os outros elementos*/
    padding-inline-start: 0.5rem ; /*padding no inicio*/
    border: 0.15rem solid red;
    border-radius: 0.8rem;
    outline: none;
    font-size: 1rem;
}

header button{
    height: 5vh;
    padding-inline: 1rem;
    background-color: red;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
}

.container{
    padding-top: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card-contato{
    height: 28vh;
    width: 10vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px #0003;
    border-bottom: 32px solid red;
}

.card-contato img{
    width: 6vw;
    border-radius: 100%;
    border: 0.2rem solid red;
}